<html>

<head>

<title>About Project</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>


<body>


<div class="header">

<h1>🏥 AI Medical Diagnosis System</h1>

<p>About This Project</p>

</div>



<div class="navbar">

<a href="/home">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/history">History</a>

<a href="/profile">Profile</a>

<a href="/search">Search</a>

<a href="/about">About</a>

<a href="/logout">Logout</a>

</div>



<div class="container">


<div class="card">

<h2>📌 Project Description</h2>

<p>

This project is an AI-based Medical Diagnosis System
that helps users identify possible diseases
based on symptoms.

</p>

<p>

The system provides:

</p>

<ul>

<li>Smart Diagnosis</li>

<li>Disease Prediction</li>

<li>Severity Detection</li>

<li>Doctor Recommendation</li>

<li>History Tracking</li>

<li>Dashboard Analysis</li>

</ul>

</div>



<div class="card">

<h2>🛠 Technologies Used</h2>

<ul>

<li>Python</li>

<li>Flask</li>

<li>HTML</li>

<li>CSS</li>

<li>Neo4j Database</li>

</ul>

</div>



<div class="card">

<h2>👩‍💻 Developed By</h2>

<p>

Name: Ramya K

</p>

<p>

Project:
AI Medical Diagnosis System

</p>

<p>

Year:
2026

</p>

</div>


</div>


</body>

</html>