<html>

<head>

<title>Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Medical Diagnosis Login</h1>

<form method="post">

<h3>Username</h3>

<input type="text"
name="username"
required>

<br><br>

<h3>Password</h3>

<input type="password"
name="password"
required>

<br><br>

<input type="submit"
value="Login">

<br><br>

<a href="/register">

<button type="button">

New User Register

</button>

</a>

</form>

<br>

{% if error %}

<p style="color:red">

{{error}}

</p>

{% endif %}

</div>

</body>

</html>